.left-menu {
    top: 6em;
    bottom: 1em;
    overflow-y: scroll;
    overflow-x: hidden;
}

.right-content {
    margin-top: 30px;
}

.content-breadcrumb {
    width: 100%
}

span {
    -moz-user-select: none; /* for Firefox */
    -webkit-user-select: none; /* for Chrome */
}